$no-focus-text-dark: #898989;
$ghost-button-hover-dark: #FF4342;
$float-background-dark: rgba(33, 33, 33, 0.9);
$float-text-dark: #cccccc;
$float-text-lighter: #eeeeee;
$background-light: #F0F2F5;

$home-page-background-dark: #181818;
$home-page-background-darker: #222222;